<h1>Welcome to ACME Insurance</h1>

<% if !user_signed_in? %>
	<h2>Please Sign In</h2>
	<p>In order to continue, you must sign in.</p>
<% else %>

<h2><%= session['user_info']['name'] %> Policy History</h2>

<table>
	<tr>
		<td>Name</td>
		<td>Start</td>
		<td>End</td>
		<td>Description</td>
		<td>Premium</td>
	</tr>
	<% @policies['records'].each do |current| %>
	<tr>
				<td><%= current['Name'] %></td>
		<td><%= current['Start_Date__c'] %></td>
		<td><%= current['End_Date__c'] %></td>
		<td><%= current['Description__c'] %></td>
		<td><%= current['Premium__c'] %></td>
		</tr>
	<% end %>
	</table>


<% end %>