<h1>Welcome!</h1>

<% if !user_signed_in? %>
	<h2>Please Sign In</h2>
	<p>In order to continue, you must sign in.</p>
<% else %>

<h2>Raw</h2>

<p><%= link_to('Raw Users (Me)', 'social/raw_users_me') %> |
<%= link_to('Raw Follows', 'social/raw_follows') %> |
<%= link_to('Raw Feed (Record)', 'social/raw_feed_record') %> |
<%= link_to('Raw Feed (Me)', 'social/raw_feed_me') %></p>

<h2>Slightly Nicer</h2>

<p><%= link_to('Clean Feed (Me)', 'social/feed_me') %></p>

<h2>Demo Apps</h2>

<ul>
<li><%= link_to('Chatter Intranet', 'https://chatter-intranet.heroku.com/') %> - <%= link_to('GitHub', 'https://github.com/henriquez/chatter-intranet') %></li>
<li><%= link_to('Chatter Sales', 'http://chatter-sales.heroku.com/') %> - <%= link_to('GitHub', 'https://github.com/henriquez/chatter-sales') %></li>
<li><%= link_to('Rhatter (GitHub)', 'https://github.com/quintonwall/rhatter') %> (Rails & JQuery Mobile)</li>
</ul>

<% end %>