<h1>Welcome! Chatter Connect Sandbox</h1>

<h2>Raw</h2>

<p><%= link_to('Raw Users (Me)', 'social/raw_users_me') %> |
<%= link_to('Raw Follows', 'social/raw_follows') %> |
<%= link_to('Raw Feed (Record - Account 0013000000r0BPlAAM)', 'social/raw_feed_record/0013000000r0BPlAAM') %> |
<%= link_to('Raw Feed (Record)', 'social/raw_feed_record') %> |
<%= link_to('Raw Feed (Me)', 'social/raw_feed_me') %></p>

<h2>Slightly Nicer</h2>

<p><%= link_to('Clean Feed (Me)', 'social/feed_me') %></p>

<h2>Nicer Still</h2>

<p><%= link_to('Chatter Intranet', 'https://chatter-intranet.heroku.com/') %></p>
<p></p>