<!DOCTYPE html>
<html>
<head>
  <title>ACME Insurance</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>
	<p>
		<%= link_to('Home', '/') %> |
		<% if !user_signed_in? %>
			<%= link_to('Login', signin_path) %>
		<% else %>
			<%= link_to(session['user_info']['name'], '/social/raw_users_me') %> |
			<%= link_to('Session Info', '/user/index') %> |
			<%= link_to('Logout', signout_path) %>
		<% end %>
	</p>

<%= yield %>


<p>Other indexes: <%= link_to('main', '/home/index') %>, <%= link_to('two', '/home/index2') %>, <%= link_to('main', '/home/index3') %>. </p>

</body>
</html>
